/nbproject/private/
/nbproject/*
._*
.~lock.*
.buildpath
.DS_Store
.project
.settings
composer.lock
vendor/bin
/vendor/
/data/
.gitignore~
*.local.php
/common/Authentication/config/dbsession.global.php.dist
